
# eSewa ePay v2 UAT configuration
CANTEEN_ESEWA_MERCHANT_CODE=EPAYTEST
CANTEEN_ESEWA_SECRET_KEY=SET_YOUR_ESEWA_UAT_SECRET_KEY
CANTEEN_ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
CANTEEN_ESEWA_STATUS_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/

# Gmail SMTP for OTP emails
CANTEEN_MAIL_HOST=smtp.gmail.com
CANTEEN_MAIL_PORT=587
CANTEEN_MAIL_USERNAME=okrohit409@gmail.com
CANTEEN_MAIL_PASSWORD=tigabvuledmqnifn
CANTEEN_MAIL_FROM=okrohit409@gmail.com
CANTEEN_MAIL_FROM_NAME=Canteen